<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227308749344-94i6jfeautucnkpqkv1d70tj3gmppgi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227308749344-94i6jfeautucnkpqkv1d70tj3gmppgi0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>227308749344-1goaf9dl58p4vf0r663r134urucifttu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDc03DxQL-FiuoKWfnk8HBqOgrw9zqXWDk</string>
	<key>GCM_SENDER_ID</key>
	<string>227308749344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pamineWeb</string>
	<key>PROJECT_ID</key>
	<string>pamineproject101</string>
	<key>STORAGE_BUCKET</key>
	<string>pamineproject101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227308749344:ios:b0193ec073302b00853245</string>
	<key>DATABASE_URL</key>
	<string>https://pamineproject101-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>